.navbar {
    background-color: rgb(10, 118, 151) !important;
    font-size: 20px;
    font-family: 'Courgette', cursive;
    padding: 15px;
}

.navbar-brand {
    font-size: 30px;
    text-shadow: 1px 1px 2px black, 2px 2px 2px black;
}

.blue {
    color: #4285F4;
}

.red {
    color: #EA4335;
}

.yellow {
    color: #FBBC05;
}

.green {
    color: #34A853;
}
