#searchFor {
    margin-bottom: 15px;
    text-align: center;
}

#searchCol {
    margin-top: 50px;
}

#searchCard, #resultsCard {
    border: 2px solid black;
    border-radius: 0.5rem;
    box-shadow: 4px 4px 2px -2px black;
    text-align: center;
}

#resultsCol {
    margin-top: 60px;
}

#searchCard {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.input-group {
    justify-content: center;
}

.searchInput:focus, .searchBtn:focus {
    outline: none;
}

.searchInput {
    border-radius: 50rem;
    border-right: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border: 2px black solid;
    border-right: 0px;
    font-size: 20px;
    height: 4rem;
    padding-left: 25px;
    width: 65%;
}

.searchBtn {
    border: 2px black solid;
    border-top-right-radius: 50rem;
    border-bottom-right-radius: 50rem;
    border-left: 0px;
    font-size: 30px;
    height: 4rem;
    transition: ease-out .15s;
    width: 200px;
}

#resultsCard {
    margin-bottom: 40px;
}

.bookImage {
    border: 2px black solid;
    box-shadow: 4px 4px 2px -2px black;
    float: left;
    margin-right: 30px;
}

.bookLink, .saveBtn {
    background-color: deepskyblue;
    border: 1px black solid;
    border-radius: 0.5rem;
    box-shadow: 2px 3px 2px -2px black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    float: right;
    padding: 5px;
}

.saveBtn {
    background-color: rgb(255, 0, 0);
    margin-left: 15px;
}

.bookLink:hover, .saveBtn:hover {
    text-decoration: none;
    color: white;
    transform: scale(1.02);
}

.bookLink:active, .saveBtn:active {
    box-shadow: 0px 0px 0px 0px black;
    outline: none;
    transform: scale(1.00);
}

.saveBtn:focus {
    outline: none;
}

p {
    text-align: left;
}